Thumbs.db
.DS_Store

# Node
node_modules/
dist/
build/
.out/
.next/
.vercel/
.turbo/
.cache/
.tmp/
# Env
.env
.env.*
api/.env
web/.env
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
# Coverage
coverage/
# Web
web/.vite/
